html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 1px solid black;
  gap: 300px;
}

.player-board {
  height: 400px;
  width: 400px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border: 1px solid red;
}

.computer-board {
  height: 400px;
  width: 400px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border: 1px solid red;
}

.cell,
.computer-cell {
  border: 1px solid black;
}

h3 {
  text-align: center;
}
